/* site wide styles for covid 19 data site */

.siteNameSlogan {
  font-size: 200%;
  font-weight: bold;
  margin-top: .68em;
}

a:hover {
  color: white;
  background-color: blue;
}

ul > li > a {
  padding: .3em;
}

@media screen and (width < 20em) {

  nav > ul > li {
    margin-bottom: .5em;
  }

}

@media screen and (min-width: 20em) {

  nav > ul {
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
  }

  nav > ul > li {
    display: inline-block;
  }

}

@media screen and (min-width: 40em) {

  nav > ul {
    justify-content: space-between;
    max-width: 60em;
  }

}

.regionList.state > ul {
  column-width: 12.5rem;
}

.regionList.country > ul {
  column-width: 20.5rem;
}

.regionList > ul > li {
  margin-bottom: .5em;
}

caption {
  font-size: 120%;
}

table > thead > tr > th + th {
  text-align: right;
}

table > thead > tr > th:first-child {
  text-align: left;
}

table > tbody > tr > th {
  font-weight: normal;
  text-align: left;
}

table > tbody > tr > td {
  text-align: right;
}
