/* site wide styles for covid 19 data site */

body {
  --pagePadding: .5rem;

  --bloodRed: rgb(155, 17, 28);
  --golden: #ffdc00;
  --brightYellow: #ffff00;

  --txtColor: #090909;
  --hColor: #400909;
  --bgColor: #fefefe;

  --linkHoverColor: #fefe33;
  --linkHoverBgColor: #00f;
}

.siteMarque,
footer {
  --txtColor: var(--golden);
  --bgColor: var(--bloodRed);
  --linkHoverColor: var(--bloodRed);
  --linkHoverBgColor: var(--golden);
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--txtColor);
  background-color: var(--bgColor);
}

body > header > h1,
body > header > p,
footer,
main,
.siteMarque {
  padding-left: var(--pagePadding);
  padding-right: var(--pagePadding);
}

.siteMarque {
  padding-top: .66em;
}

footer {
  padding-top: var(--pagePadding);
  padding-bottom: var(--pagePadding);
  margin-top: 4em;
}

a.siteName,
h1.siteName,
.siteMarque,
nav > ul > li > a,
footer,
footer > address > p > a {
  color: var(--txtColor);
  background-color: var(--bgColor);
}

h1.siteName {
  margin-top: 0;
  margin-bottom: 0;
}

a:hover {
  color: var(--linkHoverColor);
  background-color: var(--linkHoverBgColor);
  text-decoration: none;
}

.siteMarque > nav > svg {
  height: auto;
  width: 2em;
  border-width: 2px;
  border-style: outset;
  border-color: #dcc;
}

.siteMarque > nav > svg.down {
  border-style: inset;
}

.siteMarque > nav > svg > rect {
  fill: var(--bgColor);
}

.siteMarque > nav > svg > g {
  fill: var(--txtColor);
}

.siteMarque > nav > svg:hover > rect {
  fill: var(--txtColor);
}

.siteMarque > nav > svg:hover > g {
  fill: var(--bgColor);
}

h1 {
  /* for h1 elements except h1.siteName on home page */
  color: var(--hColor);
  background-color: var(--bgColor);
}

nav {
  padding-bottom: 1px;
  font-size: 110%;
}

.home > article > h1,
.siteName {
  font-size: 200%;
  font-weight: bold;
}

.siteSlogan {
  font-size: 160%;
  font-weight: bold;
}

nav > ul > li > label > input {
  font-size: 90%;
  width: 9em;
}

nav > ul > li > a {
  padding: .5em;
}

nav > ul > li > svg {
  padding: .3em;
}

.hasSubmenu > label > svg,
.hasSubmenu > svg {
  stroke: var(--txtColor);
  fill: var(--bgColor);
  vertical-align: middle;
}

.hasSubmenu > label > svg {
  height: 2.5em;
  width: auto;
  transform: rotate(40deg);
  margin-right: .5em;
  margin-left: .1em;
}

a.siteName {
  text-decoration: none;
}

.siteMarque > nav > ul > .hasSubmenu > label {
  display: none;
}

.submenu {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  color: black;
  background-color: white;
  display: none;
}

.contributors > li {
  margin-bottom: .5em;
}

.submenu > li > a,
output > ul > li > a {
  padding: .3em;
  display: block;
  border-left: 1px solid var(--bgColor);
  border-bottom: 1px solid var(--bgColor);
  border-right: 1px solid var(--bgColor);
  padding-top: .4em;
  padding-bottom: .4em;
}

.submenu > li:first-child > a,
output > ul > li:first-child > a {
  border-top: 1px solid var(--bgColor);
}

h1.siteName {
  padding-bottom: 0;
  margin-border: 0;
}

@media screen and (width < 31em) {

  header {
    text-align: center;
  }

  .siteMarque > nav {
    position: relative;
  }

  .siteMarque > nav > svg {
    z-index: 8;
  }

  .siteMarque > nav > ul {
    display: none;  /* this is unset when svg is '.down' */
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 1.5em;
  }

  .siteMarque > nav > svg.down + ul {
    display: unset; /* unset display: none */
  }

  nav > ul {
    width: 11em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    list-style: none;
    text-align: center;
  }

  /* TODO allow search results to take 100% width */

  nav > ul > li > a {
    display: block;
    border-width: 0 1px 1px 1px ;
    border-style: solid;
    border-color: #400;
  }

  nav > ul > li:first-child > a {
    border-top-width: 1px;
  }

  nav > ul > li > svg,
  .siteSlogan {
    display: none;
  }

}

@media screen and (min-width: 31em) {

  .siteMarque > nav > svg {
    display: none;
  }

  nav > ul {
    margin-left: 0;
    padding-left: 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  .siteMarque > nav > ul > .hasSubmenu > label {
    display: unset;
  }

  .siteSlogan {
    display: none;
  }

  .submenu {
    line-height: 1.2em;
    font-size: 1rem;
  }

    .hasSubmenu > svg {
      height: 1.5em;
      width: 1.3em;
      margin-left: -.3em;
    }

    .hasSubmenu > label,
    .hasSubmenu > output {
      display: unset;
    }

    svg.open {
      transform: rotate(180deg);
    }

    li.hasSubmenu {
      position: relative;
    }

    .submenu {
      position: absolute;
      top: 3em;
      margin-left: 0;
      padding-left: 0;
      max-height: 30em;
      max-height: 80vh;
      overflow-y: scroll;
      list-style: none;
      color: black;
      background-color: white;
      z-index: 10;
      display: none;
      box-shadow: .3em -0.1em .5em var(--bgColor);
    }

    footer .hasSubmenu > output > .submenu {
      top: unset;
      bottom: 3em;
    }

    .hasSubmenu > output > .submenu {
      left: 2em;
    }

    .submenu > li {
      min-width: 12em;
    }

    .submenu > li > a {
      white-space: nowrap;
    }

    .submenu.county > li:nth-child(odd) > a {
      border-top: 1px solid var(--bgColor);
    }


}

@media screen and (min-width: 33em) {

  .siteSlogan {
    display: block;
  }

}

@media screen and (min-width: 35em) {

  nav > ul {
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-flow: wrap;
    align-items: baseline;
  }

}

@media screen and (min-width: 55em) {

  h1.siteName, .siteSlogan {
    display: inline;
  }

  .siteName:after {
    content: ":";
  }

  a.siteName:after {
    color: var(--txtColor);
    background-color: var(--bgColor);
  }

  .siteSlogan {
    font-size: 200%;
    font-weight: bold;
    padding-left: .1em;
  }

}

@media screen and (min-width: 40em) {

  nav > ul {
    justify-content: space-between;
    max-width: 60em;
  }
  /* TODO change padding on first nav li so it lines up with site name */

}

.regionList.country > ul {
  column-width: 20.5rem;
}

.regionList.state > ul {
  column-width: 12.5rem;
}

.regionList.state.county > ul {
  column-width: 17rem;
}

.regionList > ul > li {
  margin-bottom: .5em;
}

.regionList.state.byCounty > ul > li > ul {
  margin-left: 0;
  padding-left: 0;
}

@media (min-width: 40em) {

  .home {
    font-size: 110%;
  }

}

@media (min-width: 60em) {

  .home {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    column-gap: 3em;
  }

  .home > p:first-child {
    grid-row: 1/-1;
  }

  .home > p:nth-child(2) {
    margin-bottom: 0;
  }

  .home > ul {
    margin-left: 0;
    padding-left: 1em;
  }

  .home > ul > li {
    margin-bottom: .3em;
  }
}


td {
  font-family: "Roboto Mono", monospace;
  padding-right: 2em !important;
}

caption {
  font-size: 120%;
}

table.covidData > thead > tr > th + th {
  text-align: right;
}

table.covidData > thead > tr > th:first-child {
  text-align: left;
}

table.covidData > tbody > tr > th {
  font-weight: normal;
  text-align: left;
}

table.covidData > tbody > tr > td {
  text-align: right;
}

