{% extends "base.j2" %}

{# error page #}

{%- block scripts -%}{% endblock scripts %}

{% block title %}Error || {{ site_name }}{% endblock title %}

{%- block last_updated -%}{%- endblock last_updated -%}

{% block content %}
        <p>
          There was an error retrieving the page/resource you requested.
        </p>
{% endblock %}
