{% extends "base.j2" %}

{# about the site page to show links to contributors' github pages #}

{% block content %}
      <p>
        {{ site_title }} is a collaborative project with these contributors:
      </p>

      <ul class="contributors">
      	{% for c in contributors %}
        <li>
          <a href="{{ c.html_url }}">{{ c.login }}</a>
          ({{ c.contributions }} contributions)
        </li>
      	{% endfor %}
      </ul>

{% endblock content %}

{% block about_link %}collaborative project{% endblock about_link %}
