<html lang="en">
    <head>
        <meta charset="utf-8">
		<title>{{title}}</title>
        <link rel="stylesheet" href="/styles/site.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.0.2/bokeh.min.js">
	</script>
	{{script|safe}}
    </head>
    <body>
	{% block content %}
	{% endblock %}
    </body>
    <footer>
      <address>
      	<p>created by <a href="https://github.com/paulhtremblay">Henry Tremblay</a></p>
      	<p><a href="https://github.com/paulhtremblay/covid19">contributions welcome</a></p>
      </address>
    </footer>

</html>
