{% extends "base.j2" %}

{# comparisons folder index #}

{% block content %}

        <p>
            Comparisons:
        </p>

        <ul>
            <li><a href="state-cases">Cases in U.S. States compared to New York State</a></li>
            <li><a href="state-deaths">Deaths in U.S. States compared to New York State</a></li>
            <li><a href="sweden">Sweden compared to other countries</a></li>
            <li><a href="state-masks">States with Mask Mandates</a></li>
        </ul>

{% endblock content %}
