{% extends "data.j2" %}

{% block content %}
      <ul>
        {%- for t in territories %}
        <li>
          {{ t[1] }}
            <a href="{{ t[0]}}-cases" title="{{ t[1] }} Cases">Cases</a>
            <a href="{{ t[0]}}-deaths" title="{{ t[1] }} Deaths">Deaths</a>
        </li>
        {%- endfor %}
      </ul>
{% endblock %}
