{% extends "data.j2" %}

{# for pages showing cases/deaths in each county by state #}

{% block content %}
	<p>On this page: {{ data_type }} by county </p>

	<p>View
    {%- if data_type == "Cases" %}
	<a href="{{ state|slugify }}-deaths">Deaths by County</a>
    {%- else %}
	<a href="{{ state|slugify }}-cases">Cases by County</a>
    {%- endif %}
    </p>

	{{div|safe}}

{% endblock %}
