{% extends "data.j2" %}

{% block content %}
      <ul>
        {%- for t in territories %}
        <li>
          {{ t }}
            <a href="{{ t|slugify }}-cases" title="{{ t }} Cases">Cases</a>
            <a href="{{ t|slugify }}-deaths" title="{{ t }} Deaths">Deaths</a>
        </li>
        {%- endfor %}
      </ul>
{% endblock %}
