{% extends "data.j2" %}

{# pages containing data tables #}

{%- block stylesheets -%}
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
{%- endblock stylesheets -%}

{% block scripts %}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script>
      $(document).ready(function() {
        $('table').DataTable( {
          "order": [[ 0, "asc" ]],
          "pageLength":10 
        } );
      } );
	</script>

{% endblock scripts %}

{% block content %}

      <table class="covidData display">

        <caption>{{caption}}</caption>

          <thead>
            <tr>
  				{% for item in table_head %}
              <th>{{item}}</th>
  				{%- endfor %}
            </tr>
          </thead>

          <tbody>
  			{% for row in table_body %}
            <tr>
  					{% for cell in row -%}
						  {%- if loop.index == 1 -%}
              <th><a href="{{cell|slugify}}">{{cell}}</a></th>
              {% else -%}
              <td>{{cell}}</td>
              {% endif -%}
  				  {%- endfor -%}
            </tr>
  			{% endfor %}
          </tbody>

      </table>

{% endblock content %}
