{% extends "base.j2" %} {# for all pages that show Covid data/charts/etc. #}

{# parent of all data pages (basically, all but home and error pages) #}

{% block title %}{{ page_title }} || {{ website_title }}{% endblock title %}

{% block page_header %}
      <div class="siteNameSlogan">
        {{ website_title }}: {{ website_slogan }}
      </div>
      {{ super() }}
			<h1>{{ page_title }}</h1>
      <p>Last updated: {{date}}</p>
{% endblock page_header %}

{% block content %}
      {{div|safe}}
{% endblock content %}
