{% extends "base.j2" %}

{# website home page #}

{% block title %}{{ site_name }} || {{ site_slogan }}{% endblock title %}

{% block site_name %}<h1 class="siteName">{{ site_name }}</h1>{% endblock site_name %}

{%- block page_h1 -%}{%- endblock page_h1 -%}
{%- block last_updated -%}{%- endblock last_updated -%}

{% block content %}

        {{div|safe}}

      <p>
        Graphs showing trends in Covid-19 infection, deaths, and rates
        in the <abbr title="United States">U.S.</abbr> and world.
      </p>
{% endblock content %}
