{% extends "base.j2" %}

{# website home page #}

{% block title %}{{ site_name }} || {{ site_slogan }}{% endblock title %}

{% block site_name %}<h1 class="siteName">{{ site_name }}</h1>{% endblock site_name %}

{%- block page_h1 -%}{%- endblock page_h1 -%}

{% block content %}
        <p>
            Number of Covid-19 infections and deaths
            in the <abbr title="United States">U.S.</abbr> and world,
            in graphs and tables.
        </p>

        {% if div is defined and div|length %}
        <article>

    		<h1>Graph of the Day</h1>

            {{div|safe}}

    	    <p>
    	        {{text_commentary|safe}}
    	    </p>

	    </article>
	    {% endif %}

        <section>
            <h1>Quick links:</h1>
            <ul>
                <li><a href="/countries/united-states-of-america">United States</a></li>
                <li><a href="/states/table-cases">Table of cases in U.S. states</a></li>
                <li><a href="/states/table-deaths">Table of deaths in U.S. states</a></li>
            </ul>
	    </section>

{% endblock content %}
