{% extends "base.j2" %}

{# website home page #}

{% block title %}{{ website_title }}: {{ website_slogan }}{% endblock %}

{% block page_header %}
        <h1 class="siteNameSlogan">{{ website_title }}: {{ website_slogan }}</h1>
        {{ super() }}
{% endblock page_header %}

{% block content %}
      <p>
        Graphs showing trends in Covid-19 infection, deaths, and rates
        in the <abbr title="United States">U.S.</abbr> and world.
      </p>
{% endblock content %}

