{% extends "base.html" %}
        <header>
			<div class="siteName">{{site_name}}</div>
			<h1>{{h1_name}}</h1>
			<p>updated: {{date}}</p>
			{% include "nav.html" %}
        </header>
{% block content %}
        <main>
            <p>
                Graphs showing covid 19 cases of infection, deaths, and changes
                in the rates in the <abbr title="United States">U.S.</abbr> and world.
            </p>
        </main>
        <footer>
			{% include "address.html" %}
        </footer>
{% endblock %}


