{% extends "data.j2" %}


{% block content %}
<p>
Yellow represesnts before the mask mandate, red the incubation period, and orange the result.
<p>
<p>
Note there is no pattern, showing mask mandates don't work and don't shape pandemic growth
</p>

	{{div|safe}}

{% endblock %}
