      <nav>
      	<ul>
      		<li><a href="/">Home</a></li>
      		<li><a href="states_deaths">Deaths over Time</a></li>
      		<li><a href="states_cases">Cases over Time</a></li>
      		<li><a href="/states_list">States</a></li>
      		<li><a href="/countries_list">Countries</a></li>
      		<li><a href="sweden_vs_other">Sweden Compared to Other</a></li>
          <li><a href="table_data_deaths.html">Table Data Deaths</a></li>
		       <li><a href="table_data_cases.html">Table Data Cases</a></li>

      	</ul>
      </nav>

