      <nav>
      	<ul>
      		<li><a href="/">Home</a></li>
      		<li><a href="states_deaths">Deaths over Time</a></li>
      		<li><a href="states_cases">Cases over Time</a></li>
      		<li><a href="/states_list">States</a></li>
      		<li><a href="/countries_list">Countries</a></li>
      		<li><a href="sweden_vs_other">Sweden Compared to Other</a></li>
      	</ul>
      </nav>
