<nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/states-deaths">Deaths over Time</a></li>
          <li><a href="/states-cases">Cases over Time</a></li>
          <li><a href="/states/">States</a></li>
      	<li><a href="/counties/">Counties</a></li>
          <li><a href="/countries/">Countries</a></li>
          <li><a href="/sweden-vs-other">Sweden Compared to Other</a></li>
          <li><a href="/table-data-deaths">Table Data Deaths</a></li>
          <li><a href="/table-data-cases">Table Data Cases</a></li>        
        </ul>
      </nav>
