{% extends "data.j2" %}

{% block content %}
      <ul class="regions {{ list_class }}">
        {% for t in territories %}
		    <li><a href="{{ t[0]}}">{{ t[1] }}</a></li>
        {% endfor %}
      </ul>
{% endblock %}
