{% extends "data.j2" %}
{% block content %}
	<h2 class = 'territory-name'>{{state_name}} {{the_type}}</h2>
	<p>click on the link to see how Covid19 spread through Washington State</p>
	<a href ="https://www.youtube.com/watch?v=oHg5SJYRHA0">Washington State Animated over Time</a>
	


{% endblock %}
